.card-containers{
    box-sizing: border-box;
    display: flex; 
    background-color: cadetblue;
}
.card{
    width: 300px;
    margin: 10px;
    box-sizing: border-box;
    box-shadow: 2px 3px 5px black;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    font-family: 'Pacifico', cursive;
    text-justify: auto;
}

.image-style{
   width: 100%;
   line-height: 1.5;
}
.card-body{
    padding: 5px;
    background-color: #787878;
}
.card-body .card-title{
font-size: 10px;
text-align: center;
color: white;

}
.card-body .card-desc{
    text-align: justify;
    color: white;
}
.card:hover{
    box-shadow: 6px 12px 10px white;
}
